{
  "root": true,
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:tailwindcss/recommended"
  ],
  "overrides": [
    {
      "files": ["*.vue"],
      "parser": "vue-eslint-parser"
    }
  ]
}